build_cmake

aclocal.m4
configure

ltmain.sh

m4/
autom4te.cache/

.deps/
.libs/

config.h.in
config.guess*
config.sub*
compile

depcomp
install-sh
missing

Makefile.in
Makefile

config.h.in~
config.h
config.status
config.log

configure
configure~

stamp-h1
libtool
yocto_test.o
yocto_test
yocto_lib.lo
libyocto_lib.la

